/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* TEXT STYLING */

body{
  color: rgb(226 232 240);
  background-color: rgb(28 25 23);
}

header h1{
  font-family: 'Lily Script One', cursive;
  color: #31CB00;
  font-size: 1.4rem;
}

span, p, h3, a{
  font-family: 'Poppins', sans-serif;
}
p, span, a{
  font-weight: 300;
}

a{
  text-decoration: none;
  color: #31CB00;
}

.hi-there p{
  font-size: 1.4rem;
}

.about h1{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-top: 30px;
  color: #31CB00;

}

.about h1 span{
  color: rgb(226 232 240);

}

.about p{
  max-width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 70px;
}

.about p span{
  color: #31CB00;
}

.about{
  margin-bottom: 50px;
}

.project-title span, .contact h3{
  font-weight: 600;
  font-size: 1.2rem;
  color: #31CB00;
  text-shadow: 2px 2px 11px #000000 !important;
}

section p{
  line-height: 24px;
}

.project h3{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #31CB00;

}


/* introduction section styling */
/* hi there section */
.hi-there{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
/* hi there hand icon */
.hand-icon{
  width: 20px;
  height:20px;
  margin-top: 70px;
}

/* get in touch button styling */
.get-in-touch{
  background-color:  rgb(28 25 23);
  box-shadow: 2px 2px 6px 0px rgba(15,1,1,1), 0px 0px 6px 0px rgba(15,1,1);
  color: #31CB00;
  border: 1px dotted #31CB00;
  width: fit-content;
  padding: 10px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  border-radius: 6px;
}


/* project cards */

.project-card{
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 6px 0px rgba(10, 6, 6, 0.281), 0px 0px 6px 0px rgba(10, 6, 6, 0.281);
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
}

/* hashtags for html, css, javascript */
.hash-tags{
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300;
}

.project{
  margin-bottom: 60px;
}
.project-title{
  max-width: 800px;
  margin: auto !important;
  margin-bottom: 20px !important;
}

.project-title, .contact-title{
  margin-bottom: 20px;
  margin-left: 5px;
}

/* project image container */
.image-con{
  max-width: 400px;
  max-height: 300px;
  margin-bottom: 30px;
}

img{
  width: 100%;
  height: 100%;
  border-radius: 12px;
}


/* demo and code button styling */
.demo-code-button{
  display: flex;
  margin-top: 30px;
  gap: 50px;
}

.demo-code-button div{
  background-color:  rgb(28 25 23);
  box-shadow: 2px 2px 6px 0px rgba(10, 6, 6, 0.281), 0px 0px 6px 0px rgba(10, 6, 6, 0.281);
  color: #31CB00;
  border: 1px dotted #31CB00;
  padding: 7px;
  border-radius: 6px;
  font-size: 0.8rem;
  margin: 8px;
}

.demo-code-button i{
  margin-right: 3px;
}


/* contact section styling */
.contact{
  border-radius: 20px;
  margin: auto;
  margin-bottom: 50px;
  max-width: 800px;
}

.contact >div{
  display: flex;
  flex-direction: column;
}

.contact-title{
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 0;
}

.contact-icons{
  height: 150px;
  box-shadow: 2px 2px 6px 0px rgba(10, 6, 6, 0.281), 0px 0px 6px 0px rgba(10, 6, 6, 0.281);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.contact-icons i{
  margin: 20px;
  font-size: 1.4rem;
  color: #31CB00;
}

.icons-div{
  background-color: rgb(28 25 23);
  box-shadow: 2px 2px 6px 0px rgba(15,1,1,1), 0px 0px 6px 0px rgba(15,1,1);
  border-radius: 50%;
  margin: 5px;
  border: 0.5px dotted #31CB00;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SVG STYLING */
.svg-con{
  height: 40px;
  width: 40px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svg-con span{
  font-size: 0.6rem;
}

/* tools styling */
.tools{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 30px;
  padding-right: 20px;
  box-shadow: 2px 2px 6px 0px rgba(10, 6, 6, 0.281), 0px 0px 6px 0px rgba(10, 6, 6, 0.281);
  border-radius: 12px;
  max-width: 800px;
  min-width: auto;
  margin: auto;
  
}

/* footer styling */
footer{
  text-align: center;
  font-size: 0.5rem;
  color: rgba(226, 232, 240, 0.568);

}

/* MEDIA QUERIES */
@media (max-width:767px){

  .about{
    position: relative;
    left: -130;
  }

  /* nav styling for mobile */
  nav{
    background-color:  rgb(28 25 23);
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin-left: 0;
    top: 0;
    left: -100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  nav ul li{
    margin: 30px;
    color: #31CB00;
  }
  
  p{
    font-size: 0.8rem;
    text-align: left;
  }


  .menu-icon{
    display: relative;
    z-index: 10;
    margin-right: 10px;
  }
  
  .fa-xmark{
    position: relative;
    opacity: 0;
    font-size: 1.2rem;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color:  rgb(28 25 23);
    min-width: 250px;
    box-shadow: 0 2px 6px 0px rgba(15,1,1,1);
    top: 0;
    right: 0;
    left: 0;
    padding: 3.5px 10px;
  }

  header i{
    font-size: 1.2rem;
  }
}

@media(min-width:768px){
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon{
    display: none;
  }

  nav ul{
    display: flex;
  }
  nav ul li{
    margin: 10px;
  }
 
  .project-card{
    display: flex;
    align-items: center;
  }


  .image-con{
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  
}

